.container {
	overflow: hidden;
	display: flex;
	align-items: end;
	justify-content: space-around;

	/* background-color: #fed8b1; */
}

.pro {
	z-index: 9;
	position: relative;
	height: 35rem;
	filter: drop-shadow(0.6rem 0.7rem 0.5rem #222);
}
#loop {
	overflow: hidden;
	position: absolute;
	top: 23%;
	width: 100%;
	/* background-color: aqua; */
	height: 40%;
	display: flex;
	align-items: center;
}
#loop > h1 {
	z-index: 2;
	font-size: 10rem;
	letter-spacing: -0.1rem;
	animation-name: anim;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	white-space: nowrap;
}
#loop > h1 > span {
	-webkit-text-stroke: 1.2px #000;
	color: transparent;
	font-weight: 500;
}
@keyframes anim {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.LeftText {
	font-size: 2rem;
	position: relative;
	bottom: 7rem;
	left: 3rem;
	right: 1rem;
}
.LeftText > span {
	font-size: 1.2rem;
}
