.nav > .item {
	overflow: hidden;
	display: flex;
	align-items: center;
	padding-right: 1rem;
}
.nav > .item > ul > li > a {
	text-decoration: none;
	font-size: 1rem;
	color: #000;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.4rem;
	background-color: var(--Text-color);
	margin: 1rem;
	border: 0.1rem solid transparent;
	border-radius: 1rem;
}
ul > li {
	list-style: none;
	cursor: pointer;
}
.Navbtn {
	font-weight: 800;
	width: 8rem;
	height: 3rem;
	border-radius: 2rem;
	background-color: #f5a6ff;
}
.logo {
	display: flex;
	align-items: center;
}
.logo > .logoimg {
	width: 2.5rem;
	height: 2.5rem;
	padding-right: 1rem;
}
.logo > p > span {
	font-weight: 800;
}
