@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
	--crad-bg: linear-gradient(to top, #e3abe1 0%, #fbc2eb 100%);
	--crad-hbg: #d84cbc;
	--Text-color: white;
	--bg: #1e1e1e;
	--body-bg: #d9dbdf;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Oswald", "Mona Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	/* background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
	background-color: var(--body-bg);
}
::-webkit-scrollbar {
	width: 5px;
}

@media (531px < width < 905px) {
	.nav {
		padding: 0;
	}
	.item > ul {
		padding: 0.6rem;
	}
	.logo > .logoimg {
		width: 1.5rem;
		height: 1.5rem;
		padding-right: 0.1rem;
	}
	.nav > .item > ul > li > a {
		font-size: 0.7rem;
	}
	.logo > p {
		font-size: 0.7rem;
	}
	.Navbtn {
		font-size: 0.5rem;
		font-weight: 400;
		width: 5rem;
		height: 2rem;
	}
	.nav > .item {
		padding: 0%;
	}
	.container {
		overflow: hidden;
		display: flex;
		align-items: end;
		justify-content: space-around;
	}
	#loop {
		top: 12%;
		height: 40%;
	}
	#loop > h1 {
		font-size: 4rem;
	}
	.pro {
		z-index: 9;
		position: relative;
		height: 14rem;
		filter: drop-shadow(0.6rem 0.7rem 0.5rem #222);
		left: 0rem;
	}
	#about {
		height: auto;
		width: auto;
	}
	.maincon {
		margin-top: 0;
		flex-direction: column;
	}
	.LeftText {
		font-size: 1rem;
		position: relative;
		left: 1rem;
		right: 1rem;
		bottom: 2rem;
	}
	.LeftText > span {
		font-size: 0.5rem;
	}
	.maincon > img {
		margin: 0%;
		width: 8rem;
	}
	.skills-container {
		display: flex;
	}
	.aboutcon {
		width: auto;
	}
	.aboutcon > p {
		text-align: center;
		font-size: small;
	}
	#services {
		width: auto;
		height: auto;
	}
	.cardSer-title {
		font-size: 1rem;
	}
	.cardSer {
		max-width: 15rem;
		max-height: 8rem;
	}
	.small-desc {
		font-size: 0.7rem;
	}
	.myservices {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
	}
	.proCard {
		grid-template-columns: repeat(3, 15rem);
		justify-content: center;
	}
	.card > img {
		height: 9rem;
		width: 13rem;
	}
	.card {
		width: 13rem;
		height: 9rem;
	}
	.abouttext {
		display: flex;
		justify-content: center;
	}
}
@media (531px < width < 705px) {
	.proCard {
		grid-template-columns: repeat(2, 15rem);
		justify-content: center;
	}
}
@media (max-width: 530px) {
	.nav > .item {
		display: none;
	}
	.logo > .logoimg {
		width: 1rem;
		height: 1rem;
		padding-right: 0.1rem;
	}

	.logo > p {
		font-size: 0.6rem;
	}
	.Navbtn {
		border: none;
		width: 4.2rem;
		height: 1.5rem;
		font-size: 0.5rem;
	}
	.skill-progress > h3 {
		font-size: 0.8rem;
	}
	.sub-skills > li {
		font-size: 0.6rem;
	}
	.progress-value {
		font-size: small;
	}
	#loop {
		top: 12%;
		height: 23%;
	}
	#loop > h1 {
		font-size: 2rem;
	}

	.pro {
		z-index: 9;
		position: relative;
		height: 14rem;
		filter: drop-shadow(0.6rem 0.7rem 0.5rem #222);
		left: 0rem;
	}

	.maincon {
		margin-top: 0;
		flex-direction: column;
	}
	.LeftText {
		font-size: 0.6rem;

		position: relative;
		left: 1rem;
		right: 1rem;
		bottom: 2rem;
	}
	.LeftText > span {
		font-size: 0.5rem;
	}
	.maincon > img {
		margin: 0%;
		width: 8rem;
	}
	.skills-container {
		display: flex;
	}
	.aboutcon {
		width: auto;
	}
	.aboutcon > p {
		text-align: center;
		font-size: small;
	}

	.cardSer-title {
		font-size: 1rem;
	}
	.cardSer {
		max-width: 15rem;
		max-height: 8rem;
	}
	.small-desc {
		font-size: 0.7rem;
	}
	.myservices {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
	}
	.proCard {
		grid-template-columns: repeat(1, 18rem);
		justify-content: center;
	}
	.card > img {
		height: 10rem;
		width: 15rem;
	}
	.card {
		width: 15rem;
		height: 10rem;
	}
	.circle > img {
		width: 2rem;
	}
	.circle {
		width: 4rem;
		height: 4rem;
	}
	.conCircle > h3 {
		font-size: 0.7rem;
	}
	.under {
		font-size: 0.6rem;
	}
	.btnCon {
		height: 2rem;
		font-size: 0.6rem;
		width: 5rem;
	}
	.social > a > img {
		width: 2rem;
	}
}
